{% extends 'TWMSiteBundle:Layout:layout.html.twig' %}

{% block title 'TWM Demo Bundle' %}

{% block content_header_more %}
  <li><a href="{{ path('twm_demo_homepage') }}">Demo Home</a></li>
{% endblock %}